<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找 回 密 码</title>
</head>
<script th:src="@{/jquery-1.12.4.min.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<script th:src="@{/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{/jquery-validation-1.14.0/dist/localization/messages_zh.js}"></script>
<script th:src="@{/bootstrap3/bootstrap3-typeahead.min.js}"></script>

<script th:src="@{/bootbox.min.js}"></script>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{//bootstrap/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/select2-develop/dist/css/select2.min.css}" />
<script th:src="@{/select2-develop/dist/js/select2.min.js}"></script>
<style>
    .error{
        color:red;
    }
</style>
<body>
<center>

    <div style="margin-top:10px;">
        <form class="form-horizontal" role="form" id="addEventOrderInfoForm">

            <div class="panel panel-primary" style="margin-bottom: 10px;">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#addEventOrderPanel">
                            找 回 密 码
                        </a>
                    </h4>
                </div>

                <div id="addEventOrderPanel" class="panel-collapse collapse">

                        <table class="table">
                            <tr>
                                <td>
                                    <div class="input-group">
                                                              <span class="input-group-addon">
                                                                  <div style="width: 100px;">用户:</div>
                                                              </span>
                                        <div>
                                            <input id="userName" name="userName" type="text" placeholder="用户名/手机号/邮箱"/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                                              <span class="input-group-addon">
                                                                  <div style="width: 100px;">密码:</div>
                                                              </span>
                                        <div>
                                            <input id="password" name="password" type="text" placeholder="密码"/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                                              <span class="input-group-addon">
                                                                  <div style="width: 100px;">手机号码:</div>
                                                              </span>
                                        <div>
                                            <input id="phone" name="phone" type="text" placeholder="手机号码"/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group" id="eventOrderAdd_DeptDiv_city">
                                            <span class="input-group-addon">
                                                      <div style="width: 100px;">城市：</div>
                                            </span>
                                        <div>
                                            <select  id="eventOrderAdd_city" name="city" class="singleSelect" style="width: 200px;">
                                                <option value="">--请选择--</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr id="newEventOrder_errorDeviceOrderTr">
                                <td colspan="2">
                                    <label style="color: red" id="errorNotifier"></label>
                                </td>
                            </tr>
                            <tr id="newEventOrder_errorDeviceOrderTr1">
                                <td colspan="2">
                                    <label><div id="newEventOrder_errorDeviceOrder" style="color: red"></div></label>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                              <div style="width: 100px;">商家名称：</div>
                                                    </span>
                                        <div>
                                            <input type=hidden id="eventOrderAdd_initiatorSellerNo" name="eventOrderAdd_initiatorSellerNo">
                                            <input type="text" class="form-control" id="eventOrderAdd_initiatorSellerName" name="eventOrderAdd_initiatorSellerName" maxlength="50"/>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="input-group" id="eventOrderAdd_DeptDiv">
                                            <span class="input-group-addon">
                                                      <div style="width: 100px;">事业部：</div>
                                            </span>
                                        <div>
                                            <select  id="eventOrderAdd_deptartmentId" name="deptartmentId" class="singleSelect" style="width: 200px;">
                                                <option value="">--请选择--</option>
                                                #foreach($dept in $!deptList)
                                                <option value=$!dept.id>$!dept.deptName</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="input-group" id="eventOrderAdd_WarehouseDiv">
                                                              <span class="input-group-addon">
                                                                  <div style="width: 100px;">仓库：</div>
                                                              </span>
                                        <div>
                                            <select
                                                    id="eventOrderAdd_warehouse" name="eventOrderAdd_warehouse"
                                                    onchange="newEventOrderAddEventTypeChange()">
                                                <option value="">---请选择---</option>
                                                <option value="2020">   2020</option>
                                                <option value="2019">   2019</option>
                                                <option value="2018">   2018</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="input-group">
                                                              <span class="input-group-addon">
                                                                  <div style="width: 100px;">类型：</div>
                                                              </span>
                                        <div>
                                            <select
                                                    id="newEventOrderAdd_eventClass" name="eventClass" onchange="newEventOrderAddEventClassChange()">
                                                <option value="">--请选择--</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <label style="padding-left: 126px;color: red" id="newEventOrderAdd_eventAnnotation"><div id="newEventOrder_eventSubmitTooltip"></div></label>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="input-group">
                                                              <span class="input-group-addon">
                                                                  <div style="width: 100px;">事件描述：</div>
                                                              </span>
                                        <div>
                                            <textarea id="newEventOrderAdd_remark" name="newEventOrderAdd_remark" rows="5" cols="20"
                                                      class="form-control {required:true,messages:{required: '必选项'}}"
                                                      maxlength="500"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td id="td_downWMS">
                                    <div id="div_v1" >
                                        <input type='button' value='查看' onclick='newEventOrderAddEventClassChange(1)'/>
                                    </div>
                                </td>
                            </tr>

                        </table>

                        <input type="hidden" id="getOrderInfo_flag" name="getOrderInfo_flag" value="false"/>
                        <p>
                            <input type="submit" value="提交">
                            <a href="toLogin">已有账号?前去登录</a>
                            <button id="exportEventOrder" type="button" class="btn btn-primary">导出</button>
                        </p>



                </div>
            </div>

        </form>

    </div>

</center>

</body>
<script>


    /*页面加载事件  */
    $(function () {
        debugger;
        /*select2 下拉框支持搜索*/
        $('.singleSelect').select2();

        // 自动补全 模糊查询
        linkSelect('eventOrderAdd_initiatorSellerName', 'eventOrderAdd_initiatorSellerNo', 'eventOrderAdd_deptartmentId', 'eventOrderAdd_warehouse', null, 'eventOrderAdd_city');

        const errorDeviceOrderId = "20000103872";
        const errorDeviceOrderNo = "CWO0020000103872";
        /*javascript:void(0) 当点击超级链接时，什么都不发生*/
        const text = "<a href=\"javascript:void(0)\" style=\"color: blue\" " +
            "onclick=\"newEventOrderAddEventClassChange('" + errorDeviceOrderId + "')\">" + errorDeviceOrderNo + "</a>";
        /*text 识别内容不识别标签   html 能识别标签*/
        $("#newEventOrder_eventSubmitTooltip").text("事件注释：您好，请填写CLPS系统中对应的单据单号，以确保单号唯一性及准确流转。");

        $("#errorNotifier").text("单据号不正确，请核对后重新输入");
        $("#newEventOrder_errorDeviceOrder").html("输入单据号所属伙伴已发起异常报备单，请点击查看报备单详情" + text);

        $("#newEventOrder_errorDeviceOrderTr").hide();
        $("#newEventOrder_errorDeviceOrderTr1").hide();
        const param = {
            userName: "111",
        };
        loadWarehouse(param);

        });

    //单据号
    $("#userName").on("blur", function () {
        debugger;
        const username = $("#userName").val();


        $("#newEventOrder_errorDeviceOrderTr").hide();
        if ($("#newEventOrder_errorDeviceOrderTr").is(":visible")) { // .is(":visible") 是否可见 返回 true or false
            console.error("false");
        }
        $("#newEventOrder_errorDeviceOrderTr").show();
        if ($("#newEventOrder_errorDeviceOrderTr").is(":visible")) {
            $("#newEventOrder_errorDeviceOrderTr").hide();
        }



        if(username == "查看") {
            const div = $("#div_v1");
            div.hide();
            //操作列重写
            const menu = [];
            menu.push("<div id='div_v2' class='btn-group'>");
            menu.push("<button id='btnEoDetail' name='btnEoDetail'  onclick='cancelRedPoint(" + username + "),findDetail(" + username + ")' >下发中....</button>");
            menu.push("</div>");
            $("#td_downWMS").html(menu.join(''));
        }


        const flag = $('#getOrderInfo_flag').val();


        $("#newEventOrder_errorDeviceOrderTr").show();
        $("#newEventOrder_errorDeviceOrderTr1").show();

        if(username === "" || username.startsWith("BR")){
            console.log("username");
        }


        const bizType = $("#password").val();
        const bizOrderNo = $("#userName").val();
        if ((bizType != null && bizType != "" && bizOrderNo != null && bizOrderNo != "" && bizType != 14) || (bizType == 14 && !bizOrderNo.startsWith("BR"))) {
            alert("校验单号");
            return;
        }
        alert("放过结算单号或者 单据类型 单号为空");


            if (username.startsWith("BR")) {
            return;
        }
        if(username.slice(0,2) === "BR"){
            console.log(true);
        }

        if (username === 'success') {
            alert("username--------》 "+username);
        }
        if (username === 'error') {
            $('#userName').val('');
            $('#newEventOrderAdd_remark').val('');
        }
    });
    //
    $("#newEventOrderAdd_remark").on("blur", function () {
        const remark = $("#newEventOrderAdd_remark").val();
        const username = $("#userName").val();
        if(username === "" && remark !== ''){
            alert("请输入单号");
            $('#newEventOrderAdd_remark').val('');
        }
    });





    function loadWarehouse(param){
        debugger;
        //获取所属合作伙伴下的仓
        var soInfo_warehouse = $("#newEventOrderAdd_eventClass");
        soInfo_warehouse.empty();
        soInfo_warehouse.append('<option value="">请选择</option>');
        $.ajax({
            "type": "post",
            "url": "test/queryWarehouseByPartnerNo.do",
            "dataType": "json",
            "data": param,
            success: function (data) {
                const soInfo_warehouse = $("#newEventOrderAdd_eventClass");
                soInfo_warehouse.empty();
                let str = '<option value="">--请选择--</option>';
                for (const o in data) {
                    str += '<option value="' + data[o].warehouseNo + '">' + data[o].warehouseName + '</option>';
                }
                soInfo_warehouse.append(str)
            }
        });
    }



    //一级问题类型变更触发
    function newEventOrderAddEventTypeChange() {

    }

    //二级事件类型变更触发
    function newEventOrderAddEventClassChange(id) {
        alert("["+id+"]");
    }


    function cancelRedPoint(id){
        alert("cancelRedPoint : id : ["+id+"]");
    }

    function findDetail(id){
        alert("findDetail : id : ["+id+"]");
    }
































    /**
     * 商家--事业部--店铺/仓库  三级联动
     * @param sellerNameId    一级seller控件（商家名称）的id
     * @param sellerIdId      一级seller控件（商家ID）的id
     * @param deptId          二级dept控件的id
     * @param warehouseId     三级warehouse控件的id   传入NULL则此级不作为联动对象
     * @param shopId          三级shop控件的id   传入NULL则此级不作为联动对象
     */
    function linkSelect(sellerNameId, sellerIdId, deptId, warehouseId, shopId, cityId) {
        debugger;
        // 初始化组件ID
        sellerNameId = '#' + sellerNameId;
        sellerIdId = '#' + sellerIdId;
        deptId = '#' + deptId;

        if (warehouseId != null && warehouseId != '') {
            warehouseId = '#' + warehouseId;
        }
        if (shopId != null && shopId != '') {
            shopId = '#' + shopId;
        }
        if (cityId != null && cityId != '') {
            cityId = '#' + cityId;
        }


        // 自动补全 模糊查询
        autoComplete(sellerNameId, 'user/getAllSeller.do', null, sellerIdId);

        // 第二、第三置为无效
        $(deptId).attr("disabled", true);

        if (warehouseId != null && warehouseId != '') {
            $(warehouseId).attr("disabled", true);
        }
        if (shopId != null && shopId != '') {
            $(shopId).attr("disabled", true);
        }
        if (cityId != null && cityId != '') {
            $(cityId).attr("disabled", true);
        }

        // 填写商家改变事件change的时候触发
        $(sellerNameId).change(function () {
            debugger;
            if ($(sellerNameId).val() == '') {
                ids = new Array();
                ids.push(deptId);
                ids.push(sellerIdId);

                if (warehouseId != null && warehouseId != '') {
                    ids.push(warehouseId);
                }
                if (shopId != null && shopId != '') {
                    ids.push(shopId);
                }
                iniSelect(ids);
            } else {
                $(deptId).attr("disabled", false);
                $(cityId).attr("disabled", false);
                $(deptId).html(getOptionHtml('user/getTenantId.do', $(sellerIdId).val(), true, "dept"));
                $(cityId).html(getOptionHtml('user/getTenantId.do', $(sellerIdId).val(), true, "city"));
                ids = new Array();

                if (warehouseId != null && warehouseId != '') {
                    ids.push(warehouseId);
                    iniSelect(ids);
                }
                if (shopId != null && shopId != '') {
                    ids.push(shopId);
                    iniSelect(ids);
                }
            }
        });
        // 填写事业部时当第二个change的时候触发
        $(deptId).change(function () {
            debugger;
            var options = $("#eventOrderAdd_deptartmentId option:selected");
            var deptId = options.val();
            var deptName= options.text();
            if (deptId == '') {
                ids = new Array();
                if (warehouseId != null && warehouseId != '') {
                    ids.push(warehouseId);
                    iniSelect(ids);
                }
                if (shopId != null && shopId != '') {
                    ids.push(shopId);
                    iniSelect(ids);
                }
            } else {
                if (warehouseId != null && warehouseId != '') {
                    $(warehouseId).attr("disabled", false);
                    $(warehouseId).html(getOptionHtml('user/getTenantId.do', deptId, true, "warehouse"));
                }
                if (shopId != null && shopId != '') {
                    $(shopId).attr("disabled", false);
                    $(shopId).html(getOptionHtml('user/getTenantId.do', deptId, true, "shop"));
                }
            }
        });
    }





    /**
     * 自动补全
     * @param id
     * @param url
     * @param query
     * @param sellerId    商家ID控件id
     * @param sellerName  商家名称控件id
     */
    function autoComplete(sellerNameId, url, query, sellerId) {
        debugger;
        var objectResults = []; //下拉列表数组
        var selected = false; //标记当前值是否由选中填充
        $.fn.typeahead.Constructor.prototype.blur = function () {
            var that = this;
            setTimeout(function () {
                that.hide()
            }, 250);
            var flag = false; //标记下拉列表数组是否包含当前输入值
            for (var object in objectResults) {
                if (objectResults[object] == $(sellerNameId).val()) {
                    flag = true;
                    break;
                }
            }
            if (!flag || !selected) {
                $(sellerId).val('').change();
                $(sellerNameId).val('').change();
                selected = false;
            }
        };

        $(sellerNameId).typeahead({
            source: function (query, process) {
                return $.getJSON(
                    url,
                    {
                        query: query,
                        sellerName: $(sellerNameId).val(),
                    },
                    function (data) {
                        objects = [];
                        map = {};
                        $.each(data, function (i, object) {
                            map[object.sellerName] = object;
                            objects.push(object.sellerName);
                        });
                        objectResults = objects;
                        return process(objects);
                    });
            },
            items: 10,
            updater: function (item) {
                $(sellerId).val(map[item].id).change();
                $(sellerNameId).val(map[item].sellerName).change();
                selected = true;
                return item;
            }
        });
    }


    /**
     * 清空下拉列表
     * @param ids
     */
    function iniSelect(ids) {
        for (var id in ids) {
            $(ids[id]).html("<option value=''>请选择</option>").change();
            $(ids[id]).attr("disabled", true);
        }
    }



    /**
     *
     * @param url 请求路径
     * @param value 上一级下拉id
     * @param head 是否显示"请选择"
     * @param type
     * @returns {String}
     */
    function getOptionHtml(url, value, head, type) {
        var html = "";
        if (head) {
            html = "<option value=''>请选择</option>";
        }
        if (value == '') {
            return html;
        }
        url = url + '?id=' + value+ '&type=' + type;

        $.ajax({
            url: url,
            async: false, //同步
            //data: param,
            dataType: 'json',
            success: function (res) {
                if (res.code != 200) {
                    return;
                }
                if (res.data != null) {
                    for (var i = 0; i < res.data.length; i++) {
                        var item = res.data[i];
                        html = html + "<option value=" + item.id + ">" + item.name + "</option>";
                    }
                }

            }
        });
        return html;
    }





    //事件单导出
    $("#exportEventOrder").on("click",function () {
        bootbox.confirm("确定要导出吗?", function(result) {
            if(result) {
                $('#addEventOrderInfoForm').attr('action', '/user/exportEventOrderDetailPage.do'); //导出数据
                $('#addEventOrderInfoForm').submit();
            }

        });
    });





</script>
</html>